@import url('https://fonts.googleapis.com/css2?family=Alata&family=Be+Vietnam+Pro:wght@400;500;700&family=Josefin+Sans&family=Poppins&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Be Vietnam Pro', Helvetica, sans-serif;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-simplify-section-desktop.svg);
}
.error{
    width: 100%;
    color: rgb(161, 0, 0);
    padding-left: 18px; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: italic;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: aqua;
}

.logo{
    height: 100%;
    width: 25%;
    background-color: red;
    display: flex;
    padding-left: 125px;
    align-items: center;
}

.list{
    height: 100%;
    width: 50%;
    background-color: green;
    display: flex;
    
}
.list1{
    display: none;
}
ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: brown;
    height: 100%;
    padding-left: 130px;
    padding-right: 130px;
    
}
li.item{
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: space-around;
    justify-content: center;
    
    
    /* background-color: yellow; */
}

li.item a{
    text-decoration: none;
    color: black;
}

li.item a:hover{
    color: rgba(0, 0, 0, 0.448);
}

.gettingStart{
    height: 100%;
    width: 25%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 115px;
}

.getstartednav{
    height: 45px;
    width: 140px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    cursor: pointer;
    font-weight: 700;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
}

.getstarted{
    height: 45px;
    width: 140px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    cursor: pointer;
    font-weight: 700;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
}

.getstarted:hover{
    width: 150px;
    background-color: hsl(12, 82%, 65%);
}






.hamburger{
    display: none;
}
.closehamburger{
    display: none;
}




.top{
    display: flex;
    height: 650px;
    width: 100%;
    background-color: teal;
    padding-left: 155px;
    padding-right: 145px;
}

.topleft{
    width: 50%;
    height: 100%;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.topheading{
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    padding-bottom: 35px;
    color: hsl(228, 39%, 23%);
}

.topbody{
    font-size: 16px;
    margin-right: 255px;
    line-height: 25px;
    padding-bottom: 35px;
    color: rgba(81, 81, 81, 0.821);
    
}
.topright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;

}



.middle1{
    height: 650px;
    width: 100%;
    display: flex;
    background-color: cyan;
    padding-left: 155px;
    padding-right: 145px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.middle1left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.middle1leftheading{
    font-size: 44px;
    font-weight: 900;
    color: hsl(228, 39%, 23%);
    padding-bottom: 30px;
    
}

.middle1leftbody{
    color: rgba(81, 81, 81, 0.821);
    font-size: 16px;
    margin-right: 255px;
    line-height: 25px;
}

.middle1right{
    width: 50%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.middle1righttop{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

.middle1rightmiddle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
}

.middle1rightbottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

.headbox{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: brown;
    align-items: center;
}
.numbering{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(12, 88%, 59%);
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.content{
    width: 87%;
    padding-left: 25px;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
    font-size: 15px;
}

.bodybox{
    height: 75%;
    width: 100%;
    background: white;
    padding-left: 105px;
    
}
.bodycontent{
    color: rgba(81, 81, 81, 0.821);
    font-size: 16px;
    margin-right: 45px;
    line-height: 25px;
}

.middle2{
    height: 500px;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.middle2top{
    height: 25%;
    width: 100%;
    color: hsl(228, 39%, 23%);
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}




.middle2bottom {
    height: 50%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap; /* Keep this for horizontal scrolling */
    background-color: green;
    scrollbar-width: none;
}

.middle2bottom::-webkit-scrollbar {
    width: 0; /* Hide WebKit scrollbar */
}

.middle2bottomtop {
    display: inline-block;
    height: 100%;
}

.parent {
    width: 600px;
    display: inline-block;
    height: 95%;
    background-color: tomato;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 0;
    position: relative;
}

.testifierImage {
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 260px;
}

.testifiers1 {
    height: 100%;
    width: 95%;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 50px;
}

.testifiersname {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 55px;
    color: hsl(228, 39%, 23%);
}

.testimony {
    font-size: 16px;
    font-weight: 400;
    color: rgba(81, 81, 81, 0.821);
    line-height: 27px;
    white-space: normal; /* Allow vertical text wrapping */
    max-height: 100px; /* Adjust the value as needed */
    overflow: hidden;
}

.middle2bottombottom{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.middle3{
    height: 150px;
    width: 100%;
    background-color: hsl(12, 88%, 59%);
    display: flex;
    padding-left: 155px;
    padding-right: 145px;

}

.middle3left{
    height: 100%;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.middle3heading{
    font-size: 35px;
    font-weight: 700;
    color: white;
    
}
.middle3right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.getstarted1{
    height: 45px;
    width: 140px;
    background-color: white;
    color: hsl(12, 88%, 59%);
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    cursor: pointer;
    font-weight: 700;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
}
.getstarted1:hover{
    width: 150px;
    background-color: white;
    color: hsl(12, 68%, 71%);
}

.footerdiv{
    width: 100%;
    height: 280px;
    background: tan;
    display: flex;
    padding-left: 155px;
    padding-right: 145px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footerdiv1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerdive1top{
    display: flex;
    width: 100%;
}
.footerdiv1bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50%;
}




.footerdiv2{
    width: 25%;
    height: 100%;
}

.footermenu1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}
a.footerdecorate{
    text-decoration: none;
}


.footerdiv3{
    width: 25%;
    height: 100%;
}

.footerdiv4{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footerdiv4top{
    height: 50%;
    width: 100%;
    
}

input{
    height: 50px;
    width: 70%;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
}
.submit{
    height: 50px;
    width: 25%;
    border-radius: 50px;
    border: none;
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-weight: 700;
}

.footerdiv4bottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.footerdiv4bottom1{
    display: none;
}
.footerdiv1bottom1{
    display: none;
}

.mobilefootermenu{
    display: none
}


/* Tablet Target */
/* @media (min-width: 768px) and (max-width: 1366px){
    .logo{
        width: 20%;
        background-color: red;
        padding-left: 30px;
    }

    .list{
        height: 100%;
        width: 60%;
        background-color: green;
        display: flex;
        
    }

    .gettingStart{
        height: 100%;
        width: 20%;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    ul.menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: brown;
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        
    }

    .logoImage{
        width: 115px;
    }

    .getstarted{
        height: 40px;
        width: 100px;
        background-color: hsl(12, 88%, 59%);
        color: white;
        border-radius: 30px;
        border: none;
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
        cursor: pointer;
        font-weight: 700;
        transition: width 0.3s ease-out, background-color 0.3s ease-out;
    }
    
    .getstarted:hover{
        width: 110px;
        background-color: hsl(12, 82%, 65%);
    }

    .top{
        display: flex;
        height: 650px;
        width: 100%;
        background-color: teal;
        padding-left: 155px;
        padding-right: 30px;
    }
} */



/* Mobile Target */
@media ((max-width: 1024px) and (min-width: 375px)) {
    .logo{
        width: 20%;
        background-color: red;
        padding-left: 30px;
    }
    .list{
        display: none;
    }
    nav{
        position: fixed;
    }
    .gettingStart{
        height: 100%;
        width: 80%;
        background-color: transparent;
        /* display: flex; */
        align-items: center;
        justify-content: flex-end;
        padding-right: 0px;
        order: 1;
        position: relative;
    }

    .getstartednav{
        display: none
    }

    ul.menu{
        display:;
        background-color: transparent;
    }

    .logoImage{
        width: 135x;
    }

    .hamburger{
        display: block;
        margin-right: 30px;
    }
    .closehamburger{
        display: none;
        margin-right: 30px;
    }
    
    .list1{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        /* display: inline-block; */
        display: none;
        position: fixed;
        top: 80px;
        /* left: 30px; */
        z-index: 3;
        padding-right: 30px;
        padding-left: 30px;
        
        
    }
    ul.menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: white;        
        padding: 35px;
        margin: 0;
        border-radius: 5px;
        height: 350px;

        
    }
    ul li a.decorate{
        display: block;
        font-size: 20px;
        font-weight: 700;
    }




    .top{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 140px;
        padding-bottom: 60px;
    }
    
    .topleft{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 2;
    
    }
    
    .topheading{
        font-size: 41px;
        font-weight: 700;
        line-height: 45px;
        padding-bottom: 15px;
        color: hsl(228, 39%, 23%);
        text-align: center;
    }
    
    .topbody{
        font-size: 18px;
        margin-right: 0;
        line-height: 25px;
        padding-bottom: 35px;
        color: rgba(81, 81, 81, 0.821);
        text-align: center;
        
    }
    .topright{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
        order: 1;
        padding-bottom: 40px;
    
    }

    .illustration{
        height: 300px;
        width: 350px;
    }
















    .middle1{
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: cyan;
        padding-left: 30px;
        padding-right: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }
    
    .middle1left{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
    
    }
    
    .middle1leftheading{
        font-size: 35px;
        font-weight: 900;
        color: hsl(228, 39%, 23%);
        padding-bottom: 30px;
        text-align: center;
        
    }
    
    .middle1leftbody{
        color: rgba(81, 81, 81, 0.821);
        font-size: 16px;
        margin-right: 0;
        line-height: 25px;
        text-align: center;
    }
    
    .middle1right{
        width: 100%;
        height: 65%;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .middle1righttop{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
        
    }
    
    .middle1rightmiddle{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }
    
    .middle1rightbottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }
    
    .headbox{
        display: flex;
        height: 25%;
        width: 100%;
        background-color: hsla(12, 88%, 59%, 0.401);
        align-items: center;
    }
    .numbering{
        width: 22%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(12, 88%, 59%);
        border-radius: 30px;
        font-size: 16px;
        color: white;
        font-weight: 700;
    }
    .content{
        width: 78%;
        padding-left: 10px;
        font-weight: 700;
        color: hsl(228, 39%, 23%);
        font-size: 15px;
    }
    
    .bodybox{
        height: 75%;
        width: 100%;
        background: white;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .bodycontent{
        color: rgba(81, 81, 81, 0.821);
        font-size: 13.5px;
        margin-right: 46px;
        line-height: 25px;
        /* text-align: center; */
    }







    .middle2top{    
        color: hsl(228, 39%, 23%);
        background-color: yellow;
        font-size: 18px;
        font-weight: 700;
    }

    /* coming soon */












    .middle3{
        height: 400px;
        width: 100%;
        background-color: hsl(12, 88%, 59%);
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: space-around;
        padding-top: 60px;
        padding-bottom: 60px;
    
    }
    
    .middle3left{
        height: auto;
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    
    }
    
    .middle3heading{
        font-size: 42px;
        font-weight: 700;
        color: white;
        text-align: center;
        
    }
    .middle3right{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .getstarted1{
        height: 45px;
        width: 140px;
        background-color: white;
        color: hsl(12, 88%, 59%);
        border-radius: 30px;
        border: none;
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
        cursor: pointer;
        font-weight: 700;
        transition: width 0.3s ease-out, background-color 0.3s ease-out;
    }
    .getstarted1:hover{
        width: 150px;
        background-color: white;
        color: hsl(12, 68%, 71%);
    }





















    .footerdiv{
        width: 100%;
        height: auto;
        background: tan;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    
    }
    
    .footerdiv1{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 4;
    }
    .footerdive1top{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footerdiv1bottom{
        display: none;
        width: 100%;
        justify-content: space-between;
        padding-right: 50%;
    }

    .footerdiv1bottom1{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
        order: 3;
    }
    
    
    .footerdiv2{
        width: 100%;
        height: 25%;
        order: 2;
        display: none;
    }
    
    .footermenu1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
    }
    a.footerdecorate{
        text-decoration: none;
    }
    
    
    .footerdiv3{
        width: 100%;
        height: 25%;
        order: 3;
        display: none;
    }

    .mobilefootermenu{
        display: flex;
        order: 2;
        height: 150px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 25px;
        background-color: teal;
        

    }

    .footerdiv2i{
        width: 50%;
        height: 100%;
        
        /* display: none; */
    }

    .footerdiv3i{
        width: 50%;
        height: 100%;
        /* display: none; */
    }
    
    .footerdiv4{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        order: 1;
    }
    .footerdiv4top{
        height: 50%;
        width: 100%;
        
    }
    
    input{
        height: 50px;
        width: 70%;
        border-radius: 50px;
        border: none;
        padding-left: 15px;
    }
    .submit{
        height: 50px;
        width: 25%;
        border-radius: 50px;
        border: none;
        background-color: hsl(12, 88%, 59%);
        color: white;
        font-weight: 700;
    }
    
    .footerdiv4bottom{
        height: 50%;
        width: 100%;
        display: none;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .footerdiv4bottom1{
        height: 2px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0
    }
    .icon{
        width: 40px;
        height: 40px;
        
    }
    
    
    
}